html, body, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
button {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 10px;
}
.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
}